.button {
    border: none;
    height: 30px;
    min-width: 30px;
}

.button__addTask {
    background-color: teal;
    color: white;
}

.button__done {
    background-color: green;
    color: white;
    
}

.button__remove {
    background-color: red;
    color: white;
}