.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "hd hd hd hd hd"
    "ma ma ma ma ma"
    "ma ma ma ma ma"
    "se se se se se"
    "se se se se se"
}

.container__item {
    padding: 20px;
    display: flex;
    align-items: center;
}