.form {
    display: grid;
    max-width: 980px;
    background-color: #ededed;
    grid-template-columns: repeat(1fr);
    grid-template-areas:
    "hd"
    "mq"
    "ma"
    "se"
    "sl"
}

.form__title {
    grid-area: hd;
    margin: 20px;
}

.form__main {
    grid-area: ma;
    border: 1px solid #ccc;
    margin: 0px 20px;
    padding: 10px;
    background-color: white;
}

.form__main--question {
    grid-area: mq;
    border: 1px solid #ccc;
    margin: 0px 20px;
    padding: 10px;
    background-color: white;
}

.form__tasks {
    grid-area: se;
    border: 1px solid #ccc;
    margin: 20px 20px 0px;
    padding: 10px;
    background-color: white;
}

.form__tasks--list {
    grid-area: sl;
    display:flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 0px 20px;
    padding: 10px;
    list-style: none;
    background-color: white;
}

.form__tasks--content {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.form__tasks--done {
    text-decoration: line-through #ccc;
}