.form {
    margin: 10px 0px;
    background-color: white;
    box-shadow: 0 0 6px #ccc;
}

.form__main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 16px;
    border: 1px solid #ccc;
    padding: 16px;
}

@media(max-width: 800px) {
    .form__main {
    grid-template-columns: 1fr;
    }
}

.form__header {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 0;
}

.form__tasks {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 0;
}