.form {
    display: grid;
    max-width: 980px;
    grid-gap: colapse;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "hd hd hd hd hd"
    "mq mq mq mq mq"
    "ma ma ma ma ma"
    "se se se se se"
    "se se se se se"
}

.form__title {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
}

.form__main {
    grid-area: ma;
    border: 1px solid #ccc;
    margin: 0px 20px;
    padding: 10px;
}

.form__main--question {
    grid-area: mq;
    border: 1px solid #ccc;
    margin: 0px 20px;
    padding: 10px;
}

.form__tasks {
    grid-area: se;
    border: 1px solid #ccc;
    margin: 0px 20px;
    padding: 10px;
    list-style: none;
}

.form__tasks--list {
    grid-area: se;
    border: 1px solid #ccc;
    margin: 20px 20px 0px;
    padding: 10px;
}