.tasks{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 15px;
    padding: 15px 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__hiden {
    display: none;
}